* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f2f2f2;
}

.links-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.link-cadastro,
.link-formularioc {
  display: block;
  width: 250px;
  padding: 12px;
  text-align: center;
  text-decoration: none;
  border-radius: 8px;
}